<launch>

	<node name="ar_kinect" pkg="ar_kinect" type="ar_kinect" respawn="false" output="screen">
		<param name="marker_pattern_list" type="string" value="$(find ar_fixed_frame)/data/markers_evaluation"/>
		<param name="marker_data_directory" type="string" value="$(find ar_pose)"/>
    <param name="threshold" type="int" value="100"/>
    <param name="publish_visual_markers" type="bool" value="true"/>		
	</node>
	
  <node name="ar_fixed_frame_publisher" pkg="ar_fixed_frame" type="fixed_frame_publisher" respawn="false" output="screen"/>

</launch>
